// Primary colors
$dark-blue: #2d314d;
$lime-green: #31d35c;
$bright-cyan: #2bb7da;

// Neutral colors
$grayish-blue: #9698a6;
$light-grayish-blue: #f3f4f6;
$very-light-gray: #fafafa;
$white: #ffffff;
