// Fonts
$font-public-sans: 'Public Sans', sans-serif; // Body

body { font-family: $font-public-sans; font-size: 1.6rem; }

p { line-height: 1.6; color: $grayish-blue; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; color: $dark-blue; }
